.App {
    /*text-align: center;*/

}

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

.App-header {
    /*background-color: #282c34;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background: linear-gradient(to right, #282c34 50%, darkgrey 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 2s ease;
    color: white;
}

.App-header:hover{
    background-position: left bottom;
}

.App-link {
    color: #61dafb;
}

.Summary {
    padding-left: 140px;
    padding-top: 140px;
    padding-bottom: 240px;
    width: 350px;
}

.PersonalProjects {
    padding-top: 140px;
    padding-left: 140px;
}

.CourseWorkProjects {
    padding-top: 40px;
    padding-left: 140px;
}

.Contacts {
    padding-left: 140px;
    padding-bottom: 100px;
}



/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

