.Contacts{
   background-color: #1e222a;
   padding-top: 30px;
   border-width: 1px;
   border-style: groove none groove none;
   border-color: darkslategrey;
}

.Contacts a{
   color: white;
   transition: all .4s;
}

.Contacts a:hover{
   background-image: linear-gradient(#1e222a, #4c3f2d);
   color: whitesmoke;
   text-underline-mode: false;
   text-decoration: none;
   padding: 0.1% 0.1% 0.1% 0.2%;
}

.Contacts h2{
   color: white;
}

.Contacts h4{
   color: white;
}