.Footer {
    text-align: center;
    background-image: linear-gradient(#1e222a, #282828);
    padding-top: 25px;
    padding-bottom: 35px;
    font-size: 15px;
    color: lightgray;
}

.Footer a {
    color: darkslategrey;
    text-decoration: none;
    transition: all 1s;
}

.Footer a:hover {
    color: whitesmoke;
    background-image: linear-gradient(white, #4c3f2d);
    padding-top: 1%;
}