.Footer {
    text-align: center;
    background-color: #0a0e16;
    padding-top: 25px;
    padding-bottom: 35px;
    font-size: 15px;
    color: lightgray;
}

.Footer a {
    color: white;
    text-decoration: none;
    transition: all .4s;
}

.Footer a:hover {
    background-color: #CDB599FF;
    color: black;
    text-underline-mode: false;
    padding: 0.2% 0.5%;
}