.Profile {
    text-align: right;
    padding-right: 15%;
}

.Profile img {
    padding-top: 10%;
    width: 90%;
    height: auto;
    transition: transform 2s;
}

.Profile img:hover {
    transform: scale(1.3);
}