.Profile {
    /*position: absolute;*/
    text-align: right;
    padding-right: 140px;
    /*padding-top: 40px;*/
    /*padding: 300px 150px 40px 40px;*/
}

.Profile img {
    width: 80%;
    height: auto;
    transition: transform 2s;
}

.Profile img:hover {
    transform: scale(1.2);
}