.Scroll {
    text-align: center;
    /*background-color: #db083d;*/
}

.Scroll{
    font-size: medium;
    transition: font-size 2s;
}

.Scroll:hover{
    font-size: x-large;
}

.Scroll div {
    padding-bottom: 2.1%;
    padding-top: 10px;
}

#firstScroll {
    background-color: #282c34;
}

#secondScroll {
    background-color: #CDB599FF;
    color: black;
}

#thirdScroll {
    background-color: #282c34;
}

/*div button {*/
/*    padding: 16px;*/
/*    background-color: #282c34;*/
/*    color: white;*/
/*    width: 100%;*/
/*    border: #282c34;*/
/*}*/