.Scroll {
    text-align: center;
}

.Scroll{
    font-size: medium;
    transition: font-size 2s;
}

.Scroll:hover{
    font-size: x-large;
}

.Scroll div {
    padding-bottom: 2.1%;
    padding-top: 10px;
}

#firstScroll {
    background-color: #282c34;
    padding-top: 7%;
}

#secondScroll {
    background-color: #0C0032;
    color: black;
}

#thirdScroll {
    background-color: #282c34;
}